body {
  background-color: #97e0e4;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: rgb(16, 74, 250);
  font-size: 32px;
  font-weight: 800;
  line-height: 28px;
  margin-bottom: 0;
  padding-top: 10px;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

li:first-letter {
  text-transform: capitalize;
}

ul {
  margin: 0;
  padding: 0;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  background: linear-gradient(135deg, #00c8ff41, hsla(305, 89%, 48%, 0.233));
  border: 2px solid white;
  border-image: repeating-linear-gradient(
      40deg,
      hsla(305, 89%, 48%, 0.233),
      #00c8ff41,
      hsla(305, 89%, 48%, 0.233) 20px
    )
    60;
  border-radius: 7px;
  padding: 20px;
}

.main-weather {
  color: black;
  margin-bottom: 20px;
}

.last-updated-info {
  font-size: 12px;
  font-style: italic;
  text-align: right;
}

.weather-temperature img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}

.weather-temperature strong {
  color: black;
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
}

.weather-temperature .units {
  font-size: 12px;
  top: -36px;
}

.weather-temperature .active {
  color: black;
  cursor: default;
}

.weather-listed-info {
  color: #0e0d0d;
  font-size: 13px;
}

.future-forecast {
  margin-top: 20px;
}

.future-forecast h3 {
  color: #4b4747;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-bottom: 10px;
}

.future-forecast img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}

.future-temperature {
  text-align: center;
  color: #4b4747;
  font-size: 13px;
  font-weight: 400;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}

.footer {
  text-align: center;
}
